@charset "utf-8";
body {
    font-size: 2vh;
    font-family: sans-serif;
    color: #FFFFFF;
    background: #134e5e; /* fallback for old browsers */
    background: linear-gradient(to right, #093028, #227251); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    line-height: 1.2;
    background-color: #441100;
    min-width: 550px;
    background-attachment: fixed;
    /* transition: background 0.5s linear; // horrible white flash of death, why*/ 
}

a {
    color: #71b280
}

@media screen and (max-height: 600px){ body {font-size: 0.9em}}
@media screen and (max-width: 600px){ body {font-size: 0.9em}}


.center-parent{
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.inline-flex-parent {
    display: inline-flex;
    width: 80%;
}

#inline-spacer-div {
    width: 3%;
}

.bingo_row {
   display: flex;
   justify-content: center;
   align-content: center;
}

.bingo_box, .bingo_plant_box, .to_do_plant_box, .bingo_button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    text-align:center;
    width: 12vh;
    height: 12vh;
    min-width: 75px;
    min-height: 75px;
    border-color: #71b280;
    border-style: dashed;
    border-width: thin;
    background-position: center;
    background-repeat: no-repeat;
}

.bingo_plant_box {
    border-style: none;
    margin: 0 auto;
    min-width: 96px;
    min-height: 96px;
}

.bingo_button {
    background-color: transparent;
    width: auto;
    min-width: 60px;
    height: auto;
    min-height: 40px;
    margin-left: 1.5vw;
    border-style: none;
}

.bingo_button:hover {
  color:#71b280;
}

.bingo_label, .todo_plant_label {
  word-wrap: break-word;
  pointer-events: none;
  padding: 0.6vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.todo_plant_label {
    font-size: max(20px, 2vh);
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

.dotted-fill-in {
    border: none;
    outline: none;
    border-bottom-color: #ffffff;
    border-bottom-style: dashed;
    border-bottom-width: thin;
    display: inline-block;
    margin-top: 1vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    min-width: 40vw;
    color: #ffffff;
    margin-left: 20px;
    vertical-align: middle;
    background-color: transparent;
    font-size: max(20px, 2.5vh);
}

.dotted-fill-in:focus {
    border-bottom-color: #ffaaff;
}

.dotted-fill-in::placeholder {
    color: transparent;
}

.dotted-fill-in:hover::placeholder {
    color: #999999;
}

.fixed-width-selectbox {
    width: 2.2vw;
    min-width: 45px;
}

.todo_checkbox {
  accent-color: #81309c;
  transform: scale(3.2);
}

.ul_no_bullets {
  list-style-type: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

particle {
  border-radius: 50%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  opacity: 0;
}

.name_div {padding: 5px 4px 3px 0px; width: 200px; text-align: right; border: none; color:white; margin: 0px; height: 100%; background: #272127;}
