@charset "utf-8";
body {
    font-size: 2vh;
    font-family: sans-serif;
    color: #FFF4DC;
    line-height: 1.2;
    background-color: #441100;
    transition: background 0.5s linear;
}

a {
    color: #FFF4DC
}

.center-parent{
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.inline-flex-parent {
    display: inline-flex;
    width: 80%;
}

#inline-spacer-div {
    width: 3%;
}

.bingo_row {
   display: flex;
   justify-content: center;
   align-content: center;
}

.bingo_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    text-align:center;
    width: 12vh;
    height: 12vh;
    background: #552200;
    background-position: center;
    background-repeat: no-repeat;
}

.bingo_label {
  word-wrap: break-word;
  pointer-events: none;
  padding: 0.6vh;
  color: #FFFFFF;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.name_div {padding: 5px 4px 3px 0px; width: 200px; text-align: right; border: none; color:white; margin: 0px; height: 100%; background: #272127;}
