@charset "utf-8";
body {
    font-size: 2vh;
    font-family: sans-serif;
    color: #FFFFFF;
    background: #134e5e; /* fallback for old browsers */
    background: linear-gradient(to right, #093028, #227251); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    line-height: 1.2;
    background-color: #441100;
    min-width: 550px;
    background-attachment: fixed;
    transition: background 0.5s linear;
}

a {
    color: #71b280
}

@media screen and (max-height: 600px){ body {font-size: 0.9em}}


.center-parent{
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.inline-flex-parent {
    display: inline-flex;
    width: 80%;
}

#inline-spacer-div {
    width: 3%;
}

.bingo_row {
   display: flex;
   justify-content: center;
   align-content: center;
}

.bingo_box, .bingo_plant_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    text-align:center;
    width: 12vh;
    height: 12vh;
    min-width: 75px;
    min-height: 75px;
    border-color: #71b280;
    border-style: dashed;
    border-width: thin;
    background-position: center;
    background-repeat: no-repeat;
}

.bingo_plant_box {
    border-style: none;
    margin: 0 auto;
}

.bingo_label {
  word-wrap: break-word;
  pointer-events: none;
  padding: 0.6vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.name_div {padding: 5px 4px 3px 0px; width: 200px; text-align: right; border: none; color:white; margin: 0px; height: 100%; background: #272127;}
