@charset "utf-8";
body {
    font-family: monospace, Verdana, sans-serif;
    font-size: 14px;
    color: #DFC48C;
    line-height: 1.2;
    background-color: #201920;
}
select {
    margin: 6px
}
a {
    color: #FFF4DC
}
input[type=text],
select {
    width: 100%;
    padding: 8px 8px;
    margin: 0;
    display: inline-block;
    border: 0px;
    color: #DFC48C;
    background-color: #2F252D;
    font-size: 12px;
}
input[type=button] {
    width: 5%;
    font-family: monospace, Verdana, sans-serif;
    border-radius: 5px;
    padding: 8px;
    margin: 0 12px 12px 12px;
    display: inline-block;
    border: 0px;
    color: #DFC48C;
    background-color: #2F252D;
    font-size: 12px;
}
input[type=button]:hover {
    background-color: #3F353D;
}
input.chunky {
    width: 400px;
    font-family: monospace, Verdana, sans-serif;
    border-radius: 5px;
    padding: 4px;
    margin: 0px;
    display: inline-block;
    border: 0px;
    color: #DFC48C;
    background-color: #2F252D;
    font-size: 22px;  
}
#page_div {
    margin: 0px 10px 0px 10px
}
#content_div {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}
#header_div {
    margin-left: 220px
}
#buttons_div {
    display: inline-block;
    float: left;
    margin-right: 30px;
    height: 100%
}
#title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
}
#subtitle {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
}
#output_div {
    color: #DFC48C;
    margin-left: 575px;
    margin-right: 10px;
    background-color: #201920;
    border: none;
    font-size: 14px;
    font-family: monospace;
    resize: vertical;
}
#output_container {
    display: inline;
    height: 100%;
    width: 50%;
}
#output_text {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 4px;
    font-size: 16px;
}
#input_form {
    color: #DFC48C;
    background-color: #201920;
    border: none;
    font-size: 14px;
    font-family: monospace;
    resize: vertical;
}
#achievement_div {
    border-radius: 3px;
    width: 305px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
}
#canvas_back_div{
    vertical-align: top;
    display: inline-block;
    background-color: #201920;
    margin: 0px 1% 0px 1%;
    overflow: hidden;
}
input[type="button"].inc_button {
    padding: 5px 3px 3px 3px;
    width: 27px; margin: 0px; background: #392839; border:none; font-family: verdana; color:white
}
input[type="text"].position_div {
    padding: 5px 3px 3px 3px;
    width: 27px; margin: 0px; background: #392839; border:none; font-family: verdana; color:white
}

.name_div {padding: 5px 4px 3px 0px; width: 200px; text-align: right; border: none; color:white; margin: 0px; height: 100%; background: #272127;}
